$media-small-max-width: 800px;

$blue-base: #99c2ff;
$red-base: #ff9999;
$bystander-base: #ffffb3;
$assassin-base: #222;

$blue-text: #003380;
$red-text: #800000;
$bystander-text: #805500;

.centeredFlex {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}