$media-small-max-width: 800px;

$blue-base: blue;
$red-base: red;
$bystander-base: yellow;
$assassin-base: black;

.centeredFlex {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}