@import-normalize;

html, body, #root {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.appBody {
  flex-basis: 94%;
}

.appFooter {
  flex-grow: 1;
}

input {
  border: none;
  outline: none;
}

input:focus {
  outline: none;
}