$media-small-max-width: 1000px;

$blue-background: #99c2ff;
$red-background: #ff9999;
$bystander-background: #ffffb3;
$assassin-background: #222;

$blue-foreground: #003380;
$red-foreground: #800000;
$bystander-foreground: #805500;
$assassin-foreground: #eee;

$blue-text: #3385ff;
$red-text: #ff4d4d;
$bystander-text: yellow;
$assassin-text: black;

$accent-text: #339966;
$accent-shadow: #2d8659;

.centeredFlex {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}