@import '../base.scss';

.row {
  display: flex;
}

.card {
  box-sizing: border-box;
  color: #555;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  font-size: calc(110% + 0.5vw);
  font-weight: 500;
  height: 17vh;
  padding: 0.3em;
  perspective: 20em;
  width: 20%;

  .cardInner {
    $shadow-color: #222;

    bottom: 0.2em;
    box-shadow: 0 0.2em 0 $shadow-color;
    height: 100%;
    perspective: 50em;
    position: relative;
    transform-style: preserve-3d;
    width: 100%;

    &:hover {
      bottom: 0.3em;
      box-shadow: 0 0.3em 0 $shadow-color;
    }

    &:active {
     bottom: 0.2em;  
     box-shadow: 0 0.2em 0 $shadow-color;
    }

    & > div {
      align-items: center;
      backface-visibility: hidden;
      box-sizing: border-box;
      display: flex;
      height: 100%;
      justify-content: center;
      left: 0;
      padding: 0.5em;
      position: absolute;
      text-align: center;
      top: 0;
      width: 100%;
      word-break: break-word;
    }

    .cardFront {
      background: #c7cbd1;
    }

    .cardBack {
      transform: rotateY(180deg);
    }

    &.revealed {
      bottom: 0;
      box-shadow: none;
      transform: rotateY(180deg);
      transition: transform 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    &.blue .cardBack {
      background: $blue-background;
      color: $blue-foreground;
    }

    &.red .cardBack {
      background: $red-background;
      color: $red-foreground;
    }

    &.bystander .cardBack {
      background: $bystander-background;
      color: $bystander-foreground;
    }

    &.assassin .cardBack {
      background: $assassin-background;
      color: $assassin-foreground;
    }
  }
}

.bottomBar {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0 0.5em;
  width: 100%;
}

.status {
  margin-top: 1vh;
  display: flex;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  justify-content: space-between;
  width: 70%;
  font-size: calc(100% + 0.25vw);

  .currentTurn {
    text-transform: capitalize;;

    &[data-turn='blue'], &[data-turn='blue_win'] {
      color: $blue-text;
    }

    &[data-turn='red'], &[data-turn='red_win'] {
      color: $red-text;
    }

    &[data-turn='blue_win'], &[data-turn='red_win'] {
      text-transform: uppercase;
    }
  }
}

@media (max-width: $media-small-max-width) {
  .card {
    height: 11vh;
  }
}

@media (max-width: 600px) {
  .card {
    font-size: calc(70% + 0.3vw);
  }
}