@import '../base.scss';

.row {
  display: flex;
}

.card {
  align-items: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-size: calc(12px + 0.5vw);
  height: 9vmax;
  justify-content: center;
  width: 20%;

  &.revealed {
    background: green;
  }
}

@media (max-width: $media-small-max-width) {
}