@import '../base.scss';

.row {
  display: flex;
}

.card {
  box-sizing: border-box;
  cursor: pointer;
  font-size: calc(12px + 0.5vw);
  height: 9vmax;
  width: 20%;

  .cardInner {
    border-radius: 1em;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.25s linear;
    width: 100%;

    & > div {
      align-items: center;
      backface-visibility: hidden;
      display: flex;
      height: 100%;
      justify-content: center;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .cardBack {
      transform: rotateY(180deg);
    }

    &.revealed {
      transform: rotateY(180deg);
    }

    &.blue .cardBack {
      background: blue;
    }

    &.red .cardBack {
      background: red;
    }

    &.bystander .cardBack {
      background: yellow;
    }

    &.assassin .cardBack {
      background: black;
    }
  }
}

@media (max-width: $media-small-max-width) {
}