@import '../base.scss';

.room {
  // background: rgba(242, 202, 133, 0.2);
}

.inner {
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  justify-content: space-between;
  padding: 2.5vw;
  width: 100vw;

  & > div {
    // border: 1px solid #eee;
  }
}

.left {
  display: flex;
  width: 70%;

  .board {
    width: 100%;
  }
}

.right {
  display: flex;
  width: 25%;

  .teams {
    width: 100%;
  }
}

@media (max-width: $media-small-max-width) {
  .inner {
    padding: 5vw;
    flex-direction: column;
  }

  .left {
    width: 100%;
  }

  .right {
    margin-top: 3vw;
    width: 100%;

    .teams {
      width: 40%;
    }
  }
}