@import '../base.scss';

.inner {
  display: flex;
  justify-content: space-between;
  padding: 2.5vw;

  & > div {
    border: 1px solid #eee;
  }
}

.left {
  width: 65%;
}

.right {
  width: 30%;
}

@media (max-width: $media-small-max-width) {
  .inner {
    padding: 5vw;
    flex-direction: column;
  }

  .left {
    width: 100%;
  }

  .right {
    margin-top: 5vw;
    width: 100%;
  }
}