@import '../base.scss';

.room {
  background: $background-color;
  font-size: calc(55% + 1vw);
}

.inner {
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  justify-content: space-between;
  padding: 2.5vw;
  padding-bottom: 7vh;
  width: 100vw;
}

.left {
  display: flex;
  width: 70%;

  .board {
    width: 100%;
  }
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 27%;

  .teams {
    height: 33%;
    width: 100%;
  }

  .chat {
    height: 62%;
    width: 100%;
  }
}

@media (max-width: $media-small-max-width) {
  .inner {
    flex-direction: column;
    padding: 3vw;
    padding-bottom: 5vh;
  }

  .left {
    height: 55%;
    width: 100%;
  }

  .right {
    flex-direction: row;
    height: 43%;
    width: 100%;

    .teams {
      height: 100%;
      width: 40%;
    }

    .chat {
      height: 100%;
      width: 55%;
    }
  }
}

@media (max-width: 600px) {
  .room {
    font-size: calc(50% + 1vw);
  }
}